.sidebar{
    background-color:rgb(221, 221, 221);
    flex: 3;
    height: 100vh;
    font-family: roboto;
    align-items: center;
    padding:20px;
}

.sidebarItem{
    align-items: center;
    display:flex;
    flex-direction:column;
    margin: auto;
    padding: 10px;
}