.sidebar {
    background-color: rgb(255, 255, 255);
    height:100%;
    width:20%;
    font-family:roboto;
    align-items: center;
    position:absolute;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.logo{
    margin-top: 50px;
}
.sidebarItem {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.sumary {
    padding-left: 10px;
}

.sumary2 {
    padding-left: 10px;
}

.categorie-itens {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: black;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:link:active,
a:visited:active {
    color: (internal value);
}

details {
    margin: 10px;
    margin-left: 20%;
}